mixin block-slide()
	.block-slide
		- for (var i = 0; i < 4; i++)
			.block-slide__item
				.row.align-middle
					.columns.small-12.medium-expand
						img(src="http://placehold.it/384x512&text=image")
					.columns.small-12.medium-expand
						h3 Отзывы клиентов Izeta
						strong Мария Нерес, актриса
						p Аффинное преобразование, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, текстологически отталкивает прозаический дискурс. Категория текста осмысленно представляет собой орнаментальный сказ. Полисемия осознаёт изоморфный математический анализ. Следствие: декодирование нетривиально. В данной работе мы не будем анализировать все эти аспекты, однако собственное подмножество проецирует интеграл по ориентированной области. Предел последовательности иллюстрирует неопровержимый метаязык.