extends ./_layout.jade



block append variables
  - var absoluteMenu = true;


block content
  +block-big-slide('left')
  +block-big-slide('right')
  +block-instagram()
  - var data = {img:['%=staticPrefix=%img/content/collection-31.jpg', '%=staticPrefix=%img/content/collection-32.jpg']}
  +block-half-image(data)
  - var data = {img:['%=staticPrefix=%img/content/collection-33.jpg', '%=staticPrefix=%img/content/collection-34.jpg']}
  +block-half-image(data)