
// Common styles of the project

html, body {
    height: 100%;
    background-color: $purple;
}

.u-sectionMargin {
    margin-bottom: $section-margin;
}

.u-uppercase {
    text-transform: uppercase!important
}

.u-fontBlack {
    color: black;
}

* {
	&:focus {
		outline: none;
	}
}