mixin service-slider()
  .service-slider
    .service-slider-item
      img(src="http://placehold.it/796x898&text=mainpage")
    .service-slider-item.service-slider-item--white
      .service-slider-item__content
        h2 Гарантии и сертификаты

        p IZETA Fur Fashion House основан в 1997 году. Дом моды создает меховые изделия Lux-класса, вечернюю одежду Haute Couture, а также изделия из экзотических видов кожи.
    .service-slider-item
      img(src="http://placehold.it/796x898&text=mainpage")
    .service-slider-item
      img(src="http://placehold.it/796x898&text=mainpage")
    .service-slider-item
      img(src="http://placehold.it/796x898&text=mainpage")