mixin partners()
	.partners.row.full.noGutter.text-center
		.columns
			.row
				.columns
					h3.partners__title Наши партнеры
			.row.full.align-middle
				.columns.small-12.medium-4
					img(src="%=staticPrefix=%img/content/bazaar.jpg")
				.columns.small-12.medium-4
					img(src="%=staticPrefix=%img/content/vogue.jpg")
				.columns.small-12.medium-4
					img(src="%=staticPrefix=%img/content/grazia.jpg")