mixin block-half-contacts-top()
  .block-half.row.full.noGutter.align-middle.align-stretch.block-half--ltr-white
    .block-half__left.columns.small-12.medium-6
      img(src="%=staticPrefix=%img/content/contacts-1.jpg")
    .block-half__right.columns.small-12.medium-6.text-center
      .block-half-panel.block-half-panel--contacts-top
        h3.block-half-panel__title БУТИК и VIP АТЕЛЬЕ
        p.block-half-panel__text Москва, Расторгуевский переулок, 1
        p.block-half-panel__text +7 (499) 253 03 02
        p.block-half-panel__text ПН-ПТ с 10-00 до 20-00,
        p.block-half-panel__text СБ с 11-00 до 20-00
        p.block-half-panel__text izetavip@gmail.com

mixin block-half-contacts-bottom()
  .block-half.row.full.noGutter.align-middle.align-stretch.block-half--rtl
    .block-half__left.columns.small-12.medium-6
      img(src="%=staticPrefix=%img/content/contacts-2.jpg")
    .block-half__right.columns.small-12.medium-6.text-center
      .block-half-panel.block-half-panel--contacts-bottom
        h3.block-half-panel__title Офис
        p.block-half-panel__text Москва, Расторгуевский переулок, 1
        p.block-half-panel__text +7 (499) 253 03 02
        p.block-half-panel__text ПН-ПТ с 10-00 до 20-00,
        p.block-half-panel__text СБ с 11-00 до 20-00
        p.block-half-panel__text izetavip@gmail.com