mixin store-filters()
  .store-filters
    form.row.full
      .columns.small-12.medium-expand
        label 
          select.store-filters__select
             option() Модель
      .columns.small-12.medium-expand
        label 
          select.store-filters__select
             option() Материал
        ul.store-filters-options
          li.store-filters-options__wrap
            a(href="#" title="").store-filters-options__delete
            span.store-filters-options__title Натуральная кожа
          li.store-filters-options__wrap
            a(href="#" title="").store-filters-options__delete
            span.store-filters-options__title Хлопок

      .columns.small-12.medium-expand
        label 
          select.store-filters__select
             option() Цвет
          ul.store-filters-options
            li.store-filters-options__wrap
              a(href="#" title="").store-filters-options__delete
              span.store-filters-options__title Черный
            li.store-filters-options__wrap
              a(href="#" title="").store-filters-options__delete
              span.store-filters-options__title Белый
      .columns.small-12.medium-expand
        label 
          select.store-filters__select
             option() Размер
          ul.store-filters-options
            li.store-filters-options__wrap
              a(href="#" title="").store-filters-options__delete
              span.store-filters-options__title 44
      .columns.small-12.medium-expand
        a.button.expanded Сбросить

mixin block-store()
  .row.full
    .columns.small-12.medium-3
      .block-store
        .block-store__img
          img(src="http://placehold.it/350x525&text=image")
        .block-store-meta
          a(href="#" title="").block-store-meta__item
            i.icon.icon-hearth
          a(href="#" title="").block-store-meta__item
            i.icon.icon-share
        .block-store-info
          .row
            .columns.shrink
              .block-store-info__title Название товара
              .block-store-info__text эксклюзивная черная шуба из натурального  меха норки
              .block-store-info__cost 4000 €
            .columns
              .block-store-info__icon

    .columns.small-12.medium-3
      .block-store
        .block-store__img
          img(src="http://placehold.it/350x525&text=image")
        .block-store-meta
          a(href="#" title="").block-store-meta__item
            i.icon.icon-hearth
          a(href="#" title="").block-store-meta__item
            i.icon.icon-share
        .block-store-info
          .row
            .columns.shrink
              .block-store-info__title Название товара
              .block-store-info__text эксклюзивная черная шуба из натурального  меха норки
              .block-store-info__cost 4000 €
            .columns
              .block-store-info__icon

    .columns.small-12.medium-3
      .block-store
        .block-store__img
          img(src="http://placehold.it/350x525&text=image")
        .block-store-meta
          a(href="#" title="").block-store-meta__item
            i.icon.icon-hearth
          a(href="#" title="").block-store-meta__item
            i.icon.icon-share
        .block-store-info
          .row
            .columns.shrink
              .block-store-info__title Название товара
              .block-store-info__text эксклюзивная черная шуба из натурального  меха норки
              .block-store-info__cost 4000 €
            .columns
              .block-store-info__icon

    .columns.small-12.medium-3
      .block-store
        .block-store__img
          img(src="http://placehold.it/350x525&text=image")
        .block-store-meta
          a(href="#" title="").block-store-meta__item
            i.icon.icon-hearth
          a(href="#" title="").block-store-meta__item
            i.icon.icon-share
        .block-store-info
          .row
            .columns.shrink
              .block-store-info__title Название товара
              .block-store-info__text эксклюзивная черная шуба из натурального  меха норки
              .block-store-info__cost 4000 €
            .columns
              .block-store-info__icon

mixin block-store-more()
  .row.full
    .columns.small-12.medium-3
      .block-store
        .block-store__img
          img(src="http://placehold.it/350x525&text=image")
        .block-store-meta
          a(href="#" title="").block-store-meta__item
            i.icon.icon-hearth
          a(href="#" title="").block-store-meta__item
            i.icon.icon-share
        .block-store-info
          .row
            .columns.shrink
              .block-store-info__title Название товара
              .block-store-info__text эксклюзивная черная шуба из натурального  меха норки
              .block-store-info__cost 4000 €
            .columns
              .block-store-info__icon

    .columns.small-12.medium-3
      .block-store
        .block-store__img
          img(src="http://placehold.it/350x525&text=image")
        .block-store-meta
          a(href="#" title="").block-store-meta__item
            i.icon.icon-hearth
          a(href="#" title="").block-store-meta__item
            i.icon.icon-share
        .block-store-info
          .row
            .columns.shrink
              .block-store-info__title Название товара
              .block-store-info__text эксклюзивная черная шуба из натурального  меха норки
              .block-store-info__cost 4000 €
            .columns
              .block-store-info__icon

    .columns.small-12.medium-3
      .block-store
        .block-store__img
          img(src="http://placehold.it/350x525&text=image")
        .block-store-meta
          a(href="#" title="").block-store-meta__item
            i.icon.icon-hearth
          a(href="#" title="").block-store-meta__item
            i.icon.icon-share
        .block-store-info
          .row
            .columns.shrink
              .block-store-info__title Название товара
              .block-store-info__text эксклюзивная черная шуба из натурального  меха норки
              .block-store-info__cost 4000 €
            .columns
              .block-store-info__icon

    .columns.small-12.medium-3
      a(href="#" title="").block-store-more
        .block-store-more__content
          .block-store-more__icon
            i.icon.icon-plus-thin
          .block-store-more__text Показать еще