.block-double {
    &__item {
        position: relative;
    }
}

.block-double-panel {
    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;

    width: 80%;
    margin: auto;
    padding: 25px 0;

    color: #fff;
    background-color: rgba($purple, .94);
    &__title {
        text-transform: uppercase;

        font-size: rem-calc(43);
        line-height: 1.3;
    }
}
