mixin block-press()
  .block-press
    .row.full.noGutter
      
      .columns.small-12.medium-4
        .block-press-item
          img(src="http://placehold.it/530x803&text=image")
          .block-press-item__cover
            img(src="http://placehold.it/208x263&text=image")
          .block-press-item__content
            .block-press-item__central
              h3 The hollywood reporter
              span март 2016
              a(href="#" title="").button.hollow смотреть
      
      .columns.small-12.medium-4
        .block-press-item
          img(src="http://placehold.it/530x803&text=image")
          .block-press-item__cover
            img(src="http://placehold.it/208x263&text=image")
          .block-press-item__content
            .block-press-item__central
              h3 The hollywood reporter
              span март 2016
              a(href="#" title="").button.hollow смотреть

      .columns.small-12.medium-4
        .block-press-item
          img(src="http://placehold.it/530x803&text=image")
          .block-press-item__cover
            img(src="http://placehold.it/208x263&text=image")
          .block-press-item__content
            .block-press-item__central
              h3 The hollywood reporter
              span март 2016
              a(href="#" title="").button.hollow смотреть
          