mixin footer(data)
  footer.footer.row.align-middle.align-space.full
    .columns
      .row
        .columns.small-12
          p Подписаться на рассылку
        .columns.small-12.medium-6
          .input-group
            input(type="email" placeholder="Введите ваш email").input-group-field
            .input-group-button
              input(type="submit" value="Подписка").button.hollow
        .columns.small-12
          a(href="#") юридическая инфомрация

    .columns.text-center.shrink
      .language-change
          .row.full.noGutter
            .columns.shrink
              .language-change__text Выбор языка: 
            .columns.shrink
              a(href="#").language-change__item RU
            .columns.shrink
              .language-change__separate /
            .columns.shrink
              a(href="#").language-change__item EN

      .footer-social
        .row.align-middle.full.noGutter.align-center
          .columns.shrink
            a(href='#').footer-social__item
              i.icon.icon-fb
          .columns.shrink
            a(href='#').footer-social__item
              i.icon.icon-tw
          .columns.shrink
            a(href='#').footer-social__item
              i.icon.icon-insta