mixin shape()
  .shape
    .row
      .columns.small-12.medium-8
        h2.shape__title соберите образ
        .row
          .columns.small-12.medium-4
            .shape-item-small
              img(src="%=staticPrefix=%img/content/shape-small.jpg")
              .shape-item-small__content
                h5 Fur fashion product
                p эксклюзивная черная шуба из натурального меха норки
                span 4000 €
          .columns.small-12.medium-4
            .shape-item-small
              .icon.icon-plus
              img(src="%=staticPrefix=%img/content/shape-small.jpg")
              .shape-item-small__content
                h5 Fur fashion product
                p эксклюзивная черная шуба из натурального меха норки
                span 4000 €
          .columns.small-12.medium-4
            .shape-item-small
              .icon.icon-plus
              img(src="%=staticPrefix=%img/content/shape-small.jpg")
              .shape-item-small__content
                h5 Fur fashion product
                p эксклюзивная черная шуба из натурального меха норки
                span 4000 €
      .columns.small-1.medium-4
        .shape-item-big
          i.icon.icon-equally
          img(src="%=staticPrefix=%img/content/shape-big.jpg")