mixin block-manager()
  .block-manager.row.full.align-center(
    data-interchange="[__static__img/assets/block-manager/tarif_bg.jpg, medium]"
    )
    .columns.medium-6.small-12.text-center
      .callout
        h3 связаться с персональным менеджером
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        input(type="text" placeholder="Имя")
        input(type="text" placeholder="Телефон")
        input(type="submit" value="Отправить").button