mixin block-instagram()
  .block-instagram
    .row.full.noGutter
      .columns.small-12.meduim-12
        .block-instagram-logo
          .icon.icon-insta
          a(href="#").block-instagram-logo__text #izetaofficial
        img(src="%=staticPrefix=%img/content/izeta-official.jpg" alt="")